<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ufc.com.carona_ufc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission-sdk-23 android:name="android.permission.LOCATION_HARDWARE" /> <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.PerfilUsuarioActivity"></activity>
        <activity android:name=".views.PegarCaronaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.ProcurarCaronaActivity" />
        </activity>
        <activity android:name=".views.RecuperarSenhaUserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.LoginActivity" />
        </activity>
        <activity
            android:name=".views.PaginaInicialActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.ConfirmarCaronaActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.OferecerCaronaActivity" />
        </activity>
        <activity
            android:name=".views.ProcurarCaronaActivity"
            android:label="Procurar Carona">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.PaginaInicialActivity" />
        </activity>
        <activity
            android:name=".views.OferecerCaronaActivity"
            android:label="Oferecer Carona">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.PaginaInicialActivity" />
        </activity>
        <activity
            android:name=".views.CriarContaActivity"
            android:label="Criar Conta">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.LoginActivity" />
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:label="Carona UFC" />
    </application>

</manifest>